@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-controller="Home" asp-action="GetIp">
    <div class="form-control">

        <input type="text" value="@ViewBag.ipadress" />
        <h1 style="color: red;">@ViewBag.ipadress</h1>
        <button type="submit">Get My Ip Adress</button>

    </div>
</form>
